{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "chargeshield-app",
    "storage_bucket": "chargeshield-app.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:HASH",
        "android_client_info": {
          "package_name": "com.chargeshield.app"
        }
      },
      "api_key": [{"current_key": "YOUR_FIREBASE_API_KEY"}],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
